
.email{
    grid-area: Email;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.username{
    grid-area: Username;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.password{
    grid-area: Password;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.agency{
    grid-area: Agency;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Button-signup{
    grid-area: Submit;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#submit{
    height: 3rem;
    width: 4rem;
    background:rgb(34, 34, 34) ;
    border-color: rgb(34, 34, 34);
    color: blanchedalmond;
    font: Arial, sans-serif;
    font-size: medium;
}

.Error-messageSignup{
    grid-area: Error;
    color:red
}