.orderbox {
    margin-left: 2.5em;
    margin-right: 2.5em;
    padding: 2em;
    display: flex;
    flex-direction: column;
    background-color: grey;
    min-width: 30em;
}


.order-label {
    padding-bottom: 0.5em;
}

.label-text {
    display: inline-block;
    min-width: 5em;
}

#order-component {
    margin-top: calc(50vh - 20vh);
    position: absolute;
    list-style-type:none;
    height: 40vh;
    left: 6.8vw;
    background-color: rgb(41, 41, 41);
    border: 2px solid black;
    border-left: 2px solid white;
    display: grid;
    grid-template-rows: repeat(2fr);
    justify-content:center;
    align-content: center;
    row-gap: 3vw;
    -webkit-animation: Navbar 0.5s; 
    -moz-animation: Navbar 0.5s; 
     -ms-animation: Navbar 0.5s; 
      -o-animation: Navbar 0.5s; 
         animation: Navbar 0.5s;
}