#wrapper{
    grid-area: sidebar;
    background-image: -moz-linear-gradient(center bottom, rgb(0, 0, 0) 33%, rgb(0, 0, 0) 67% );
    background-image: -webkit-gradient(linear, right top, left top, color-stop(0,  rgb(26, 25, 25)), color-stop(1,  rgb(0, 0, 0)));
    height: auto;
    width: auto;
    border-right: 2px solid;
    border-color: rgb(255, 255, 255);
    display: grid;
    grid-row: 1fr 1fr 1fr;
    grid-template-areas: "." "Menu" ".";
}


#Menu{
    grid-area: Menu;
    background:rgb(34, 34, 34) ;
    border-color: rgb(34, 34, 34);
    align-self: center;
    text-decoration-color: white;
    font-size: small;
    color: white;
    position: relative;
}

#Menu:focus{
    outline: 0;
}


#Menu:hover{
    background:rgb(41, 41, 41) ;
    border-color: rgb(41, 41, 41);
}