#login-component{
    grid-area: sidebar;
    background-image: -moz-linear-gradient(center bottom, rgb(0, 0, 0) 33%, rgb(0, 0, 0) 67% );
    background-image: -webkit-gradient(linear, right top, left top, color-stop(0,  rgb(29, 29, 29)), color-stop(1,  rgb(0, 0, 0)));
    height: auto;
    border-right: 2px solid;
    border-color: rgb(255, 255, 255);
}

#SignBox{
    margin-top: 10px;
    width: auto;
    height: 50%;
    padding: 0;
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-areas: "SignUp"  "SignIn";
    row-gap: 15px;
    align-items: center;
}


#btn{
    background:rgb(34, 34, 34) ;
    border-color: rgb(34, 34, 34);
    color: blanchedalmond;
    font: Arial, sans-serif;
    font-size: large;
    height: 50px;
}
